

.main
{
    border: solid 2px #5ABD7F;
    margin-bottom: 2vh;
    width: 90vw;
    border-radius: 5vh;
    box-shadow: black 6px 5px 5px;
    display: flex;
    flex-direction: column;
}

.wrapperquest {
    border-radius: 5vh;
    box-shadow: black 6px 5px 5px;
    border: solid 2px #5ABD7F;
    padding: 0.5vh;
    width: 80vw;
    margin:auto;
    margin-bottom: 1vh;
}

.choicequest input[type='number'] {
    border-radius: 5vh;
    border: solid 2px #5ABD7F;
    -moz-outline-radius: 5vh;
}

#maindiv
{
    display: flex;
    min-height: 90vh;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vh;
}

.choicequest label
{
    margin-left: 2vw;
}

.text
{
  text-align: center ;
}

.choicequest {
    text-align: center;
}

#end {
    align-self: center;
    width: 15vw;
    margin-bottom: 2vh;
}



