<div id="maindiv">
    <div id="alert" style="display: none;">
    </div>
    <form id="inscriptionform" action="" method="post">
        <fieldset id="inputsinscription">
            <div>
                <label for="usernameinscription">Email :</label>
                <input  id="usernameinscription"
                        type="email"
                        name="Emailinscription"
                        required>
            </div>
            <div>
                <label for="passwordinscription">Mot de passe :</label>
                <input  id="passwordinscription"
                        type="password"
                        name="Passwordinscription"
                        required>
            </div>
        </fieldset>
        <fieldset id="actionsinscription">
            <input  type="submit"
                    id="submitinscription"
                    value="S'inscrire">
        </fieldset>
    </form>
</div>
