{% extends 'layout.html' %}
{% block title %} questionnaire {% endblock %}

{% block body %}
        <link rel="stylesheet" href="css/..."/>
        <link href="css/homepage.css" rel="stylesheet">
        <link href="css/questionnaire.css" rel="stylesheet">
        <script src="js/questionnaire.js" defer></script>
    <body>
        <div class="text">Entrez les appareils présent chez vous, avec leurs spécificités:</div>
        <div class="main">
            <div id="main--congelateur">
                <input type="checkbox" class="firstChose" id="congelateur" name="Congélateur">
                <label for="congelateur">Congélateur</label>
            </div>
            <div id="main--refrigerateur">
                <input type="checkbox" class="firstChose" id="refrigerateur" name="Réfrigérateur">
                <label for="refrigerateur">Réfrigérateur</label>
            </div>
            <div id="main--seche-linge">
                <input type="checkbox" class="firstChose" id="seche-linge" name="Sèche-linge">
                <label for="seche-linge">Sèche-linge</label>
            </div>
            <div id="main--Lave-vaisselle">
                <input type="checkbox" class="firstChose" id="Lave-vaisselle" name="Lave-vaisselle">
                <label for="Lave-vaisselle">Lave-vaisselle</label>
            </div>
            <div id="main--Lave-linge">
                <input type="checkbox" class="firstChose" id="Lave-linge" name="Lave-linge">
                <label for="Lave-linge">Lave-linge</label>
            </div>
            <div id="main--Television LCD">
                <input type="checkbox" class="firstChose" id="Television LCD" name="Télévision_LCD">
                <label for="Television LCD">Télévision LCD</label>
            </div>
            <div id="main--Aspirateur">
                <input type="checkbox" class="firstChose" id="Aspirateur" name="Aspirateur">
                <label for="Aspirateur">Aspirateur</label>
            </div>
            <div id="main--Ordinateur">
                <input type="checkbox" class="firstChose" id="Ordinateur" name="Ordinateur">
                <label for="Ordinateur">Ordinateur</label>
            </div>
            <div id="main--Four micro-ondes">
                <input type="checkbox" class="firstChose" id="Four micro-ondes" name="Four_micro-ondes">
                <label for="Four micro-ondes">Four micro-ondes</label>
            </div>
            <div id="main--Four classique">
                <input type="checkbox" class="firstChose" id="Four classique" name="Four_classique">
                <label for="Four classique">Four classique</label>
            </div>
            <div id="main--Ampoules">
                <input type="checkbox" class="firstChose" id="Ampoules" name="Ampoules">
                <label for="Ampoules">Ampoules</label>
            </div>
        </div>
    </body>
{% endblock %}
